@font-face {
    font-family: munro;
    src: url(munro.ttf);
}

BODY {
	background-color: skyblue;
	font-family: munro;
	color: white;
}

BUTTON {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	margin: 0 auto;
	display: block;
}

BUTTON:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}

BUTTON:active {
	position:relative;
	top:1px;
}


#logo {
	height: 50%;
	width: 50%;
	display: block;
	margin: 0 auto;
}

#wrapper {
	height: 330px;
	width: 330px;
	margin: 40px auto;
}

.box {
	display: inline-block;
	float: left;
	height: 100px;
	width: 100px;
	border: 5px ridge white;
}

.moveX {
	display: inline-block;
	float: left;
	height: 100px;
	width: 100px;
	border: 5px ridge white;
	background-image: url(../images/x.png);
}

.moveY {
	display: inline-block;
	float: left;
	height: 100px;
	width: 100px;
	border: 5px ridge white;
	background-image: url(../images/o.png);
}

#p1score {
	position: absolute;
	top: 200px;
	left: 10px;
}

#p2score {
	position: absolute;
	top: 350px;
	left: 10px;
}

#playerNumber {
	position: absolute;
	top: 30px;
	left: 30px;
}


div#cloud {
	width: 70px;
	height: 24px;
	background: #f2f9fe;
	background: -moz-linear-gradient(top,  #f2f9fe 5%, #d6f0fd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#f2f9fe), color-stop(100%,#d6f0fd));
	background: -webkit-linear-gradient(top,  #f2f9fe 5%,#d6f0fd 100%);
	background: -o-linear-gradient(top,  #f2f9fe 5%,#d6f0fd 100%);
	background: -ms-linear-gradient(top,  #f2f9fe 5%,#d6f0fd 100%);
	background: linear-gradient(top,  #f2f9fe 5%,#d6f0fd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#d6f0fd',GradientType=0 );

	position: absolute;
	margin: 120px auto 20px;
	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

@keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}

/* The element to apply the animation to */


div#cloud:after, div#cloud:before {
	content: '';
	position: absolute;
	z-index: -1;
	background: #f2f9fe;
}

div#cloud:after {
	width: 20px;
	height: 20px;
	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;

	top: -10px;
	left: 10px;
}

div#cloud:before {
	width: 36px;
	height: 36px;
	
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;

	top: -18px;
	right: 10px;
}

div#cloud {
    position: relative;
    animation-name: example;
    animation-duration: 4s;
}

@import "compass/css3";

@import url(http://weloveiconfonts.com/api/?family=typicons);
[class*="typicons-"]:before {
  font-family: 'Typicons', sans-serif;
}

#chatroom {
	display: block;
	position: absolute;
	top: 200px;
	left: 900px;
}

.module {
  width: 300px;
  margin: 20px auto;
}

.top-bar {
  background: #666;
  color: white;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
  h1 {
    display: inline;
    font-size: 1.1rem;
  }
  .typicons-message {
    display: inline-block;
    padding: 4px 5px 2px 5px;
  }
  .typicons-minus {
    position: relative;
    top: 3px;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
    padding-top: 5px;
  }
  > * {
    position: relative; 
  }
  &::before {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    bottom: -100%;
    opacity: 0.25;
    background: radial-gradient(white, black);
    animation: pulse 1s ease alternate infinite;
  }
}

.discussion {
  list-style: none;
  background: #e5e5e5;
  margin: 0;
  padding: 0 0 50px 0; // finality
  li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
  }
  .avatar {
    width: 40px; // stronger than %
    // could set height, but gonna bottom-align instead
    position: relative; // for triangle
    img {
      display: block; // triangle position
      width: 100%;
    }
  }
}

.other {
  .avatar {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border: 5px solid white;
      border-left-color: transparent;
      border-bottom-color: transparent;
    }
  }
}

.self {
  justify-content: flex-end;
  align-items: flex-end;
  .messages {
    order: 1;
    border-bottom-right-radius: 0; // weird shadow fix
  }
  .avatar {
    order: 2;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border: 5px solid white;
      border-right-color: transparent;
      border-top-color: transparent;
      box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
    }
  }
}

.messages {
	color: black;
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(black, 0.2);
  p {
    font-size: 0.8rem;
    margin: 0 0 0.2rem 0;
  }
  time {
    font-size: 0.7rem;
    color: #ccc;
  }
}

.messages LI {
	list-style-type: none;
}

@keyframes pulse {
  from { opacity: 0; }
  to { opacity: 0.5; }
}
