<!DOCTYPE html>
<html ng-app="tttgApp">
	<head>
		<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/module.js"></script>
		<script type="text/javascript" src="js/controller.js"></script>
			<title>Tic Tac Top Gun</title>
	</head>
	<body ng-controller = "TTTController as TTTCtrl">
		<div id = "wrapper">
			<div class="box" ng-repeat="box in TTTCtrl.boxes" ng-class="{'moveX': box.moveX, 'moveY': box.moveY}" id="{{box.name}}" ng-click="TTTCtrl.playerMove($index)"></div>
		</div>
		<div id="scores">
			<h2>Player 1 Score: {{TTTCtrl.p1score}}</h2>
			<h2>Player 2 Score: {{TTTCtrl.p2score}}</h2>
		</div>
	</body>
</html>